{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-6 ml-auto mr-auto">
            <ul class="list-group">
                <li class="list-group-item">
                    <strong>Name:</strong> {{ book.name }}
                </li>
                <li class="list-group-item">
                    <strong>Number of pages:</strong> {{ book.numberOfPages }}
                </li>
                <li class="list-group-item">
                    <strong>Year:</strong> {{ book.year }}
                </li>
                <li class="list-group-item">
                    <strong>Price:</strong> {{ book.price }}
                </li>
                <li class="list-group-item">
                    <strong>Author:</strong>
                        <a href="{{ path('authors_show', {id: book.getAuthor().id}) }}">
                            {{ book.getAuthor().name }} {{ book.getAuthor().surname }}
                        </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}
